.JobSearch-header {
    padding: 20px 0px 0px 70px;
    background-color: #5865E0;
    height: 150px;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 0 0 0 4em;
    position: relative;
}

.JobSearch-darkTheme-checkbox {
    padding-top: 15px;
    margin-right: calc(12%);
    padding-left: 70%;
}
