.JobSearch-main {
    position: relative;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #F5F6F8;
}

@media (prefers-color-scheme: dark) {
    body.dark {
        background-color: #131822;
        color: white;
    }
}

.JobSearch-header {
    padding: 20px 0px 0px 70px;
    background-color: #5865E0;
    height: 120px;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 0 0 0 4em;
    position: relative;
}

.JobSearch-title {
    font-size: 20px;
    font-weight: bold;
}

.JobSearch-toggle {
    padding-top: 15px;
    margin-right: calc(12%);
    padding-left: 70%;
}

.sun {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.moon {
    width: 20px;
    height: 20px;
    padding-left: 5px;
}

