.JobPage {
    display: flex;
    background-color: #F5F6F8;
    height:100%;
    flex-direction: column;
    align-items: center;
}

.JobPage-tile1{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: white;
    height: 100px;
    width: 400px;
    padding:15px;
    justify-content: space-evenly;
}

.JobPage-logo{
    height:60px;
    width:60px;
    padding-bottom: 10px;
    margin: 0px;
}

.JobPage-company{
    font-weight: bold;
}

.JobPage-tile2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
    height: 100vh;
    width: 400px;
    padding:15px;
    font-size: 12px;
    overflow: scroll;
}

.JobPage-type{
    font-size: 10px;
    color: rgba(0,0,0,.6);
}

.JobPage-title{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.JobPage-tile3{
    display: flex;
    width: 400px;
    padding:15px;
    flex-direction: column;
    background-color: #5865E0;
    color: white;
    font-size: 12px;
}
.JobPage-howtoheader{
    font-weight: bold;
    font-size: 14px;
}