.SearchBar {
    display: flex;
    padding: 15px;
    flex-direction: row;
}

.SearchBar > input {
    height:40px;
    border-color: rgba(0,0,0,.2);
}

.SearchBar-searchParam{
    min-width: 400px;
    margin-right: 15px;
}

.SearchBar-location{
    min-width: 250px;
    margin-right: 15px;
}

.SearchBar-button{
    background-color: #5865E0;
    color: white;
    width: 120px;
}

.Search-fulltime{
   padding: 10px;
    margin-right: 15px;
}