.JobSearchHome {
    display: flex;
    flex-direction: column;
    background-color: #F5F6F8;
    height: 100vh;
    overflow: scroll;
    width: 80%;
    align-self: center;
    position: absolute;
    top: 100px;
    left: 10%;
}

.JobSearchHome-JobContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
    .JobSearchHome.dark {
        background-color: #131822;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    .JobSearchHome.light {
        background-color: #F5F6F8;
        color: black;
    }
}
